<div style="float: right">
 <%= link_to 'Add Data', new_ms_book_path, class: 'btn btn-success' %>
 </div>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Publisher ID</th>
      <th scope="col" width="300px">Action</th>
    </tr>
  </thead>
<% @ms_books.each do |ms_book|%>
<tbody>
<tr>
      <th scope="row"><%= ms_book.id%></th>
      <td> <%= ms_book.name %> </td>
      <td> <%= ms_book.ms_publisher_id %> </td>
     <td class="text-center">
     		<%= link_to 'Delete',ms_book_path(ms_book), method: :delete, data: {confirm: 'Delete Data ? '}, class: 'btn btn-danger' %>
              <%= link_to 'Detail', ms_book_path(ms_book), class: 'btn btn-light' %>
              <%= link_to 'Edit', edit_ms_book_path(ms_book), class: 'btn btn-primary' %>
              
            </td>
      <% end %>
</tbody>
</tr>
