<div class="container-fluid">
 <div class="row">
    <%= form_for(@ms_book) do |ms_book| %>


        <div class="form-group">
          <%= ms_book.label :Name %>
          <%= ms_book.text_field :name, class:'form-control', type: 'text', placeholder: '', disabled: true %>
        </div>

        <div class="form-group">
          <%= ms_book.label :PublisherId %>
          <%= ms_book.text_field :ms_publisher_id, class:'form-control', type: 'number', placeholder: '', disabled: true %>
        </div>


       <%= link_to 'Back', '/ms_books', class: 'btn btn-light' %>

    <% end %>
  </div>
</div>