<div style="float: right">
 <%= link_to 'Add Data', new_ms_publisher_path, class: 'btn btn-success' %>
 </div>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col" width="300px">Action</th>
    </tr>
  </thead>
<% @ms_publishers.each do |ms_publisher|%>
<tbody>
<tr>
      <th scope="row"><%= ms_publisher.id%></th>
      <td> <%= ms_publisher.name %> </td>
      <td> <%= ms_publisher.phone %> </td>
      <td> <%= ms_publisher.address %> </td>
     <td class="text-center">
     		<%= link_to 'Delete',ms_publisher_path(ms_publisher), method: :delete, data: {confirm: 'Delete Data ? '}, class: 'btn btn-danger' %>
              <%= link_to 'Detail', ms_publisher_path(ms_publisher), class: 'btn btn-light' %>
              <%= link_to 'Edit', edit_ms_publisher_path(ms_publisher), class: 'btn btn-primary' %>
              
            </td>
      <% end %>
</tbody>
</tr>
