
<div style="float: right">
 <%= link_to 'Add Data', new_ms_member_path, class: 'btn btn-success' %>
 </div>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col" width="auto">Action</th>
    </tr>
  </thead>
<% @ms_members.each do |ms_member|%>
<tbody>
<tr>
      <th scope="row"><%= ms_member.id%></th>
      <td> <%= ms_member.name %> </td>
      <td> <%= ms_member.age %> </td>
      <td> <%= ms_member.address %> </td>
      <td> <%= ms_member.phone %> </td>
      <td> <%= ms_member.email %> </td>
     <td class="text-center">
     		<%= link_to 'Delete',ms_member_path(ms_member), method: :delete, data: {confirm: 'Delete Data ? '}, class: 'btn btn-danger' %>
              <%= link_to 'Detail', ms_member_path(ms_member), class: 'btn btn-light' %>
              <%= link_to 'Edit', edit_ms_member_path(ms_member), class: 'btn btn-primary' %>
              
            </td>
      <% end %>
</tbody>
</tr>
