  <div class="container-fluid">
  <div class="row">
    <%= form_for(@ms_member) do |ms_member| %>

    	
        <div class="form-group">
          <%= ms_member.label :name %>
          <%= ms_member.text_field :name, class:'form-control', type: 'text', placeholder: '',required: true %>
        </div>

        <div class="form-group">
          <%= ms_member.label :Age %>
          <%= ms_member.text_field :age, class:'form-control', type: 'number', placeholder: '',required: true %>
        </div>

        <div class="form-group">
          <%= ms_member.label :address %>
          <%= ms_member.text_field :address, class:'form-control', type: 'text', placeholder: '',required: true %>
        </div>

        <div class="form-group">
          <%= ms_member.label :phone %>
          <%= ms_member.text_field :phone, class:'form-control', type: 'number', placeholder: '',required: true %>
        </div>

        <div class="form-group">
          <%= ms_member.label :email %>
          <%= ms_member.text_field :email, class:'form-control', type: 'text', placeholder: '',required: true %>
        </div>

        <%= ms_member.submit :Save, class:'btn btn-success' %>

    <% end %>
  </div>
</div>