<div class="modal-header text-center">
  <h4 class="modal-title w-100" id="myModalLabel">Borrow Book </h4>
</div>
<div class="modal-body">
<div class="form-group ">
	<%= label_tag(:name,"Member Name ",class:'col-sm-3 col-form-label') %>
	<label class="col-form-label">:</label>
	<label class= 'col-sm-2 col-form-label' id="name"></label>
	</div>
<div class="form-group ">
	<%= label_tag(:member_book,"Member Phone ",class:'col-sm-3 col-form-label') %>
	<label class="col-form-label">:</label>
	<label class= 'col-sm-2 col-form-label' id="phone"></label>
</div>
<div class="form-group ">
	<%= label_tag(:member_email,"Member Email ",class:'col-sm-3 col-form-label') %>
	<label class="col-form-label">:</label>
	<label class= 'col-sm-2 col-form-label'id="email"></label>
</div>
<div class="form-group ">
	<%= label_tag(:book_id,"Book ID ",class:'col-sm-3 col-form-label') %>
	<label class="col-form-label">:</label>
	<label class= 'col-sm-2 col-form-label' id="book"></label>
</div>
<div class="form-group ">
	<%= label_tag(:borrow_date_id,"Borrow Date ",class:'col-sm-3 col-form-label') %>
	<label class="col-form-label">:</label>
	<label class= 'col-sm-2 col-form-label' id="borrow_date"></label>
</div>

	<%= form_for @tr_loans_form, method: :patch, scope: 'tr_loans' , html:{ id: 'tr_loans_form'} do |f| %>
	<%= f.hidden_field :status, value: 'Borrow' %>
	<div class="form-group ">
	<%= label_tag(:duration,"Duration ",class:'col-sm-3 col-form-label') %>
	<label class="col-form-label">:</label>
	<%= f.select(:duration, [['7 Days','7'], ['14 Days','14'],['21 Days','21']]) %>
	</div>
	<br>
	<br>
	<div class="text-center">
		<%= f.submit :save, class:'btn btn-success' %>
	</div>
	<% end %>
</div>
<script >


</script>